{% from "helper/modal_helper.html.j2" import delete_modal, render_pagination %}
{% extends "layout.html.j2" %} 
{% block content %}
<h1 class="mt-2"> {{ title }}</h1>
<div class="d-flex justify-content-end">
    <a class="btn  btn-outline-secondary" 
        href="{{url_for('new_appointment')}}">
        New Appointment
    </a>
</div>
{% if appointments.items | length > 0%}
<table class="table mt-2">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Date posted</th>
            <th scope="col">Service Type</th>
            <th scope="col">Duration</th>
            <th scope="col">Price</th>
            <th scope="col">Created By</th>
            <th scope="col" style="width: 15%"></th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in appointments.items %}
        <tr>
            <th scope="row">{{ appointment.id }}</th>
            <td>{{ appointment.appointment_time }}</td>
            <td>{{ appointment.date_posted.strftime("%B %d, %Y") }}</td>
            {#<td>{{ appointment.client_appointments.full_name }}</td>
            <td>{{ appointment.therapist_appointments.full_name }}</td> #}
            <td>{{ appointment.service.price }}</td>
            <td>{{ appointment.service.Name }}</td>
            {# <td><a href="{{url_for('user_services', username=service.user_service.username)}}">{{ appointment.client_id.user_service.full_name }}</a></td> #}
            {# <td>
                <a class="btn btn-outline-secondary" 
                    href="{{url_for('view_service', service_id=service.id)}}">
                    <i class="bi bi-eye-fill "></i>
                </a>
                {% if service.user_service == current_user or current_user.role.name == 'admin' %}
                <a class="btn btn-outline-secondary" 
                    href="{{url_for('update_service', service_id=service.id)}}">
                    <i class="bi bi-pencil-fill"></i>
                </a>
                <button class="btn btn-outline-secondary" 
                    data-bs-toggle="modal" 
                    data-bs-target="#deleteModal-{{service.id}}">
                    <i class="bi bi-trash3-fill "></i>
                </button>
                {{ delete_modal(service) }}
                {% endif %}
            </td> #}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<div class="pt-1 text-center">
{{ render_pagination(appointments, 'appointment') }}
</div>
{% endblock content %}