{% from "helper/form_helper.html.j2" import render_field %}
{% extends "layout.html.j2" %} 
{% block content %}
<div class="card col-md-5 mt-3 p-3 mx-auto pb-4">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend class="text-center">{{ legend }}</legend>
            {{ render_field(form.name) }}
            {{ render_field(form.description) }}
            {{ render_field(form.service_type, "col-md-3 pt-2 form-control-label" ,"form-select") }}
            {{ render_field(form.duration, "col-md-3 pt-2 form-control-label" ,"form-select") }}
            {{ render_field(form.price) }}
            <div class="form-group row mt-2">
                <div class="col-md-4 offset-md-3">
                    {{form.submit(value=legend,class="btn btn-outline-secondary col-md-12")}}
                </div>
            </div>
        </fieldset>
{% endblock content %}