{% extends "index.html.j2" %} 
{% block index %}
{% include "helper/nav.html.j2" %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %} 
            {% for category, message in messages %}
                <div class="alert mt-2 alert-{{category}}">
                    {{message}}
                </div>
            {% endfor %} 
        {% endif%} 
    {% endwith %} 
    {% block content %}{% endblock %}
</div>
{% include "helper/footer.html.j2" %}
{% endblock index %}
