{% from "helper/form_helper.html.j2" import render_field %}
{% extends "layout.html.j2" %} 
{% block content %}
<div class="card col-md-7 mt-3 p-3 mx-auto pb-4">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend class="text-center">Join Today</legend>
            {{ render_field(form.username) }}
            {{ render_field(form.full_name) }}
            {{ render_field(form.email) }}
            {{ render_field(form.phone) }}
            {{ render_field(form.password) }}
            {{ render_field(form.confirm_password) }}
        </fieldset>
        <div class="form_group row mt-2">
            <div class="col-md-2 offset-md-3">
                {{form.submit(class="btn btn-outline-info")}}
            </div>
            <div class="offset-md-3 col-md-9 border-left mt-2">
                <small class="text-muted">
                    Already Have An Account?
                    <a class="login-btn" href="{{url_for('login')}}">Login</a>
                </small>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
